@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 50px;
  padding-top: 40px;

  font-family: 'Open Sans', sans-serif;
  color: #4A4A4A;

  background-color: #F3F7FA;
}
